<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Uh oh!  404!
      </div>
      <div class="card-block">
        <div class="card-title">
          Where were you headed?
        </div>
        <div class="card-text">
          More help is on the way.  For now, please choose from the following actions:
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="goBack()">Go Back</button>
        <button class="btn btn-sm btn-link" [routerLink]="['/']">Dashboard</button>
      </div>
    </div>
  </div>
</div>
