<div class="card-columns">
    <div class="card">
        <div class="card-img">
            <img src="...">
        </div>
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
    </div>
    <div class="card card-block">
        <h3 class="card-title">Title</h3>
        <p class="card-text">
            ...
        </p>
    </div>
    <div class="card">
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
        <div class="card-img">
            <img src="...">
        </div>
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
    </div>
    <div class="card card-block">
        <h3 class="card-title">Title</h3>
        <p class="card-text">
            ...
        </p>
    </div>
    <div href="..." class="card">
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
        <div class="card-img">
            <img src="...">
        </div>
    </div>
    <div class="card card-block">
        <h3 class="card-title">Title</h3>
        <p class="card-text">
            ...
        </p>
    </div>
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">Title</h3>
            <p class="card-text">
                ...
            </p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary">Action</a>
        </div>
    </div>
    <a class="card clickable">
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
        <div class="card-img">
            <img src="...">
        </div>
    </a>
</div>
